.biggerImage {
    position: relative;

    display: grid;
    grid-template-columns: 7fr 3fr;
    align-items: center;
    
    border: 3px solid;
    border-left: none;
    border-right: none;
    border-radius: 12px;

    
    margin: 5px;
    padding: 5px;
}
.bodyDay section .biggerImage {
    border-color: var(--third-light-color);
}
.bodyNight section .biggerImage {
    border-color: var(--third-dark-color);
}

.biggerImage button {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 5px;
    padding: 10px;
    background-color: green;
    border: 10px;
    margin: 10px;
}

.biggerImage img {
    max-width: 100%;
    border-radius: 10px;
}

.biggerImage ul {
    list-style-type: none;
}