.biggerImage {
    position: sticky;
    top: 120px;
    max-height: 70vh;

    display: grid;
    grid-template: 1fr / 7fr 3fr;
    
    
    border: 5px solid green;
    border-radius: 15px;
    background-color: green;
    
}
.biggerImage:hover {
    /*background-color: white;*/
}
.biggerImage > div {
    height: 100%;
}

.biggerImage > img {
    object-fit: cover;
}