footer {
    margin: auto;
    border: 5px solid;
    border-top: none;
    border-radius: 15px;
}
.footerDay {
    border-color: var(--first-light-color);
}
.footerNight {
    border-color: var(--first-dark-color);
}
footer div {
    margin: 5px;
    padding: 5px;
    border-radius: 7px;
    border: 3px solid;
    border-top: none;
}
.divDay {
    border-color: var(--second-light-color);
}
.divNight {
    border-color: var(--second-dark-color);
}