main {
    padding: 0 20px;
    margin: auto;
    border: 5px solid;
    border-top: none;
    border-bottom: none;
    border-radius: 15px;
}
.mainDay {
    border-color: var(--first-light-color);
}
.mainNight {
    border-color: var(--first-dark-color);
}
/*style buttons and indications*/
.indication {
    margin: 10px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 3px solid;
    border-top: none;
    border-bottom: none;
    border-radius: 7px;
}
.indicationDay {
    border-color: var(--second-light-color);
}
.indicationNight {
    border-color: var(--second-dark-color);
}
/*style for children of indication container*/
.indiChild {
    width: 20%;
    margin: 2px;
    padding: 2px;
    border: 3px solid;
    border-radius: 7px;
    border-left: none;
    border-right: none;
}
/*style for day mode*/
.indiChildDay {
    background-color: #fff;
    border-color: #fff;
}
.indiChildDay:hover {
    border-color: var(--third-light-color);
}
/*style for night mode*/
.indiChildNight {
    background-color: #000;
    border-color: #000;
}
.indiChildNight:hover {
    border-color: var(--third-dark-color);
}
/*style for images container*/
.container {
    margin: auto;
    display: grid;
    gap: 5px;
}
/*style for single image div*/
.image {
    border-radius: 10px;
    display: flex;
    padding: 5px;
    border: 3px solid;
    border-left: none;
    border-right: none;
}
/*style for single for day mode*/
.imageDay {
    border-color: #fff;
}
.imageDay:hover {
    border-color: var(--third-light-color);
}
/*style for single for night mode*/
.imageNight {
    border-color: #000;
}
.imageNight:hover {
    border-color: var(--third-dark-color);
}
/*style single images*/
.image img {
    width: 100%;
    object-fit: cover; /*ensure that the image doesn't cause distorsions*/
    aspect-ratio: 1 / 1; /*ensure the squareness of every image*/
    border-radius: 10px;
}

/*style for categories under images*/
.image ul {
    cursor: default;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    /*border: 3px solid #00000000;
    border-top: none;
    border-radius: 2px 2px 10px 10px;*/
}

.image li {
    list-style-type: none;
    margin: 5px;
    border: 1px dotted;
}