/*style for nav, categories' container*/

body > div {
    border-radius: 15px;
    border: 5px solid;
    border-top: none;
    border-bottom: none;
    margin: 5px;
}
.bodyDay > div {
    border-color: var(--first-light-color);
}
/*style for nav night mode*/
.bodyNight > div {
    border-color: var(--first-dark-color);
}
nav {
    margin: 0 5px;
}
/*style for nav ul to set to flex*/
nav > ul {
    margin: 0px;
    padding: 0px;
    border-radius: 10px;
    border-right: 3px solid;
    list-style-type: none;
}
.bodyDay > div > nav > ul {
    border-color: var(--second-light-color);
}
.bodyNight > div > nav > ul {
    border-color: var(--second-dark-color);
}
/*style for categories in nav*/
nav li {
    text-align: right;
    border: 3px solid;
    border-left: none;
    border-right: none;
    border-radius: 5px;
    cursor: pointer;
    border-color: #ffffff00;
    margin: 0px 4px; 
    padding: 1px 2px;
}
/*setting style for categories day mode*/
.bodyDay > div > nav > ul > li:hover {
    border-color: var(--third-light-color);
}
/*setting style for categories night mode*/
.bodyNight > div > nav > ul > li:hover {
    border-color: var(--third-dark-color);
}

nav > ul li {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: stretch;
}
nav ul li span {
    margin: 2px;
    min-width: 25px;
}