/*setting header to alway stay at top on scroll*/
/*header {
    border-radius: 15px;*/ /*hide details on top of the element on scroll*/
/*}
.headerDay {
    background-color: #fff;
}
.headerNight {
    background-color: #000;
}*/

/*style for nav, categories' container*/


div > nav {
    border-radius: 15px;
    border: 5px solid;
    border-right: none;
}
/*style for nav day mode*/
.bodyDay > div > nav {
    /*box-shadow: 0px 5px 10px #fff;
    background-color: #fff;*/
    border-color: var(--first-light-color);
}
/*style for nav night mode*/
.bodyNight > div > nav {
    /*box-shadow: 0px 5px 10px #000;
    background-color: #000;*/
    border-color: var(--first-dark-color);
}
/*style for nav ul to set to flex*/
nav > ul {
    margin: 5px;
    padding: 5px;
    border-radius: 7px;
    border: 3px solid;
    border-left: none;
    list-style-type: none;
}
.bodyDay > div > nav > ul {
    border-color: var(--second-light-color);
}
.bodyNight > div > nav > ul {
    border-color: var(--second-dark-color);
}
/*style for categories in nav*/
nav li {
    border: 3px solid;
    border-left: none;
    border-right: none;
    border-radius: 5px;
    cursor: pointer;
}
/*setting style for categories day mode*/
.bodyDay > div > nav > ul > li {
    border-color: #fff;
}
.bodyDay > div > nav > ul > li:hover {
    border-color: var(--third-light-color);
}
/*setting style for categories night mode*/
.bodyNight > div > nav > ul > li {
    border-color: #000;
}
.bodyNight > div > nav > ul > li:hover {
    border-color: var(--third-dark-color);
}