main nav {
    border-right: 3px solid;
    border-radius: 10px;
}
.bodyDay nav {
    border-color: var(--second-light-color);
}
.bodyNight nav {
    border-color: var(--second-dark-color);
}

/*style for nav ul to set to flex*/
nav ul {
    padding: 0;
}
.bodyDay nav ul {
    border-color: var(--second-light-color);
}
.bodyNight nav ul {
    border-color: var(--second-dark-color);
}
/*style for categories in nav*/
nav li {
    border: 3px solid;
    border-left: none;
    border-right: none;
    border-radius: 5px;
    cursor: pointer;
    border-color: #ffffff00;
    margin: 0 4px; 
    padding: 2px 0;
    display: grid;
    grid-template-columns: auto auto;
    gap: 1px;
    justify-items: stretch;
}
/*setting style for categories day mode*/
.bodyDay nav li:hover {
    border-color: var(--third-light-color);
}
/*setting style for categories night mode*/
.bodyNight nav li:hover {
    border-color: var(--third-dark-color);
}

nav ul li span {
    min-width: 25px;
}
.active {
    border-color: var(--third-dark-color);
}