.biggerImage {
    position: relative;
    height: 60vb;

    display: grid;
    grid-template: 1fr / 7fr 3fr;
    align-items: center;
    
    border: 3px solid;
    border-radius: 12px;

    margin: 5px;
}
.bodyDay > div .biggerImage {
    border-color: var(--second-light-color);
}
.bodyNight > div .biggerImage {
    border-color: var(--second-dark-color);
}
.biggerImage button {
    /*height: 100%;*/
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 5px;
    padding: 10px;
    background-color: green;
    border: 10px;
    margin: 10px;
}

.biggerImage img {
    max-height: 57vb;
    max-width: 100%;
    border-radius: 10px;
}

.biggerImage ul {
    list-style-type: none;
}