/* defining variables with main colors*/
:root {
    --first-light-color: #bfffcf;
    --second-light-color: #7fff7f;
    --third-light-color: #00ff00;

    --first-dark-color: #003300;
    --second-dark-color: #008800;
    --third-dark-color: #00ff00;
}
* {
    box-sizing: border-box;
}
/*body style for mode*/
body {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}
/*body style for day mode*/
.bodyDay {
    /*background: radial-gradient(
        circle,
        rgba(255, 255, 255, 1) 0%,
        rgba(226, 255, 233, 1) 100%
    );*/
    background-color: white;
}
/*body style for night mode*/
.bodyNight {
    /*background: radial-gradient(
        circle,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 34, 0, 1) 100%
    );*/
    background-color: black;
}
/*setting header to alway stay at top on scroll*/
header {
    position: sticky;
    top: 0;
    z-index: 100;
}
/*style for nav, categories' container*/
nav {
    border-radius: 10px;
}
/*style for nav day mode*/
.navDay {
    background-color: var(--first-light-color);
}
/*style for nav night mode*/
.navNight {
    background-color: var(--first-dark-color);
}
/*style for nav ul to set to flex*/
nav > ul {
    display: flex;
    justify-content: center;
    padding: 5px;
    flex-wrap: wrap;
}
/*style for categories in nav*/
li {
    list-style-type: none;
    border-radius: 5px;
    cursor: pointer;
}
/*setting style for categories day mode*/
.liDay:hover {
    background-color: var(--second-light-color);
}
/*setting style for categories night mode*/
.liNight:hover {
    background-color: var(--second-dark-color);
}
/*the separator line*/
hr {
    width: 93%;
    margin: 10px auto;
    border: 1.5px solid var(--third-light-color);
}
/*style buttons and indications*/
.indication {
    margin: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
/*style for children of indication container*/
.indiChild {
    margin: 2px;
    padding: 2px;
    border: none;
    border-radius: 2px;
    min-width: 55px;
}
/*style for day mode*/
.indiChildDay {
    background-color: var(--second-light-color);
    border: 3px solid var(--second-light-color)
}
.indiChildDay:hover {
    border: 3px solid var(--third-light-color)
}
/*style for night mode*/
.indiChildNight {
    background-color: var(--second-dark-color);
    border: 3px solid var(--second-dark-color)
}
.indiChildNight:hover {
    border: 3px solid var(--third-dark-color)
}
/*style for images container*/
.container {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;*/ /* orizontal  alignement*/
    gap: 5px;
}
/*style for single image div*/
.image {
    /*width: 98%;*/
    /*aspect-ratio: 1 / 1;*/
    border-radius: 10px;
    display: flex;
    /*padding-left: 4px;
    padding-top: 4px;
    padding-right: 4px;*/
}
/*style for single for day mode*/
.imageDay {
    background-color: var(--first-light-color);
    /*padding: 5px;*/
}
.imageDay:hover {
    background-color: var(--second-light-color);
    box-shadow: -3px -3px 10px var(--third-light-color);
}
/*style for single for night mode*/
.imageNight {
    background-color: var(--first-dark-color);
    /*padding: 5px;*/
}
.imageNight:hover {
    background-color: var(--second-dark-color);
    box-shadow: -3px -3px 10px var(--third-dark-color);
}
/*style single images*/
img {
    width: 100%;
    object-fit: cover; /*ensure that the image doesn't cause distorsions*/
    aspect-ratio: 1 / 1; /*ensure the squareness of every image*/
    border-radius: 10px;
}

/*style for categories under images*/
.image > p {
    cursor: default;
    margin: 5px;
}

/*styles fr diffrent screen dimensions, for responsive design*/
@media (min-width: 1201px) {
    * {
        font-size: 1.6vw;
    }
    .container {
        width: 70%;
        grid-template-columns: repeat(5, 1fr);
    }
    li {
        padding: 9px;
    }
}
@media (max-width: 1200px) {
    * {
        font-size: 1.8vw;
    }
    .container {
        width: 85%;
        grid-template-columns: repeat(4, 1fr);
    }
    li {
        padding: 7px;
    }
}
@media (max-width: 517px) {
    * {
        font-size: 2.1vw;
    }
    .container {
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
    }
    li {
        padding: 5px;
    }
}
