/* defining variables with main colors*/
:root {
    --first-light-color: #bfffcf;
    --second-light-color: #7fff7f;
    --third-light-color: #00ff00;

    --first-dark-color: #003300;
    --second-dark-color: #008800;
    --third-dark-color: #00ff00;
}
* {
    box-sizing: border-box;
}
/*body style for mode*/
body {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}
/*body style for day mode*/
.bodyDay {
    /*background: radial-gradient(
        circle,
        rgba(255, 255, 255, 1) 0%,
        rgba(226, 255, 233, 1) 100%
    );*/
    background-color: white;
}
/*body style for night mode*/
.bodyNight {
    /*background: radial-gradient(
        circle,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 34, 0, 1) 100%
    );*/
    background-color: rgb(0, 0, 0);
}

/*the separator line*/
hr {
    width: 93%;
    margin: 10px auto;
    border: 1.5px solid var(--third-light-color);
}

/*styles fr diffrent screen dimensions, for responsive design*/
@media (min-width: 1201px) {
    /** {
        font-size: 1.6vw;
    }*//*
    .indiChild {
        min-width: 150px;
    }*/
    main {
        width: 75%;
    }
    .container {
        grid-template-columns: repeat(5, 1fr);
    }
    li {
        padding: 9px;
    }
}
@media (max-width: 1200px) {
    /** {
        font-size: 1.8vw;
    }*//*
    .indiChild {
        min-width: 80px;
    }*/
    main {
        width: 85%;
    }
    .container {
        grid-template-columns: repeat(4, 1fr);
    }
    li {
        padding: 7px;
    }
}
@media (max-width: 517px) {
    /** {
        font-size: 2.1vw;
    }*//*
    .indiChild {
        min-width: 50px;
    }*/
    main {
        width: 100%;
        padding: 10px;
    }
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
    li {
        padding: 5px;
    }
}
