/* defining variables with main colors*/
:root {
    --first-light-color: #bfffcf;
    --second-light-color: #7fff7f;
    --third-light-color: #00ff00;

    --first-dark-color: #003300;
    --second-dark-color: #008800;
    --third-dark-color: #00ff00;
}
* {
    box-sizing: border-box;
    text-align: center;
}
/*body style for mode*/
body {
    margin: auto;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}
body > div {
    display: grid;
    grid-template-columns: 1fr 9fr;
}
/*body style for day mode*/
.bodyDay {
    background-color: #fff;
}
/*body style for night mode*/
.bodyNight {
    background-color: #000;
}

/*the separator line*/
hr {
    width: 93%;
    margin: 10px auto;
    border: 1.5px solid var(--third-light-color);
}

/*styles fr diffrent screen dimensions, for responsive design*/
@media (min-width: 1201px) {
    body {
        width: 75%;
    }
    .container {
        /*grid-template-columns: repeat(5, auto);*/
    }
    .image {
        width: 19%;
    }
}
@media (max-width: 1200px) {
    body {
        width: 85%;
    }
    .container {
        /*grid-template-columns: repeat(4, auto);*/
    }
    .image {
        width: 25%;
    }
}
@media (max-width: 517px) {
    * {
        font-size: smaller;
    }
    body {
        width: 100%;
    }
    .container {
        /*grid-template-columns: repeat(3, auto);*/
    }
    .image {
        width: 33%;
    }
    /*
    body > div {
        grid-template-columns: 10fr;
    }
    nav {
        display: none;
    }*/
}
